<nav class="md:hidden fixed bottom-0 left-0 right-0 bg-white dark:bg-slate-900 border-t">
  <div class="max-w-4xl mx-auto px-4 py-2 flex justify-between">
    <a routerLink="/" class="flex-1 text-center">Inicio</a>
    <a routerLink="/books" class="flex-1 text-center">Libros</a>
    <a routerLink="/stats" class="flex-1 text-center">Estadísticas</a>
    <a routerLink="/series" class="flex-1 text-center">Series</a>
    <a routerLink="/settings" class="flex-1 text-center">Ajustes</a>
  </div>
</nav>
